@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat+Alternates&display=swap');

/* GLOBAL STYLES */

.container {
  height: 80vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  .leftContent, .rightContent {
    height: 100%;
    width: 50%;
  }
  .leftContent {
    // background-color: teal;
  }
  .rightContent {
    // background-color: indigo;
  }
}

/* LEFT CONTENT STYLES */

.leftContent {
  .title {
    position: relative;
    top: 2.5vh;
    left: 2vw;
    z-index: 3;
    font-family: 'Lobster', cursive;
    font-size: 3.25vw;
    letter-spacing: 1.5px;
    color: #fff;
  }
  .tiltedBox {
    transform: rotate(35deg);
    background-color: #192738;
    height: auto;
    width: 50%;
    left: -26.35vh;
    top: 91%;
    position: absolute;
    overflow: hidden;
    border-radius: 1.25vw;
    padding-left: 8vh;
    .illustration {
      position: relative;
      z-index: 9;
      height: auto;
      width: 100%;
      top: 2.5vh;
      left: 25%;
      transform: rotate(-35deg);
      .object {
        background-image: url('../images/8.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 55vh;
        margin-bottom: 5vh;
        position: relative;
        width: 65%;
        top: 4.5vh;
        left: 6.5vw;
      }
    }
  }
}

/* RIGHT CONTENT STYLES */

.rightContent {
  display: flex;
  flex-direction: column;
  .content {
    align-self: center;
    width: 60%;
    height: auto;
    margin-top: 10vh;
    .title {
      font-family: 'Lobster', cursive;
      font-size: 3.25vw;
      letter-spacing: 1.5px;
      margin-bottom: 2.5vh;
      color: #192738;
    }
    .subtext {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 1.5vw;
      color: #192738;
    }
    .link {
      margin-top: 2.5vh;
      padding: 2% 4%;
      border-radius: 2vw;
      border-style: none;
      font-family: 'Lobster', cursive;
      font-size: 2.25vw;
      color: #fff;
      background-color: #192738;
      &:hover {
        color: #192738;
        background: #fff;
        border: 1.5px solid #192738;
      }
    }
  }
}



/* Media-queries Section */
@media (max-width: 768px) {
  .container {
    .leftContent {
      .title {
        font-size: 1.5rem;
      }
      .tiltedBox {
        transform: rotate(35deg);
        height: 40vh;
        left: -13.75vh;
        top: 97.5%;
        .illustration {
          width: 120%;
          top: 0vh;
          left: 25%;
        }
      }
    }
    .rightContent {

    }
  }
}

@media (max-width: 575.98px) {
  .container {
    flex-direction: column;
    position: relative;
    .leftContent, .rightContent {
      // height: 50%;
      // width: 100vw;
    }
    .leftContent {
      // position: relative;
      // overflow: hidden;
      .title {
        font-size: 1.25rem;
      }
      .tiltedBox {
        height: 42vh;
        width: 50%;
        left: -8vh;
        top: -5vh;
        position: absolute;
        overflow: hidden;
        border-radius: 1.25vw;
        padding-left: 10vh;
      }
    }
    .rightContent {

      .content {
        position: absolute;
        top: 35vh;
        left: 45vw;
        width: 45vw;
        border-radius: 2vw;
        margin-top: 2.5vh;
        .title {
          font-size: 1.25rem;
        }
        .subtext {
          font-size: .85rem;
        }
        .link {
          border-radius: 2.75vw;
          font-size: .95rem;
        }
      }
    }
  }
}
