.container {
  height: 100vh;
  width: auto;
  background: #192738;
  display: flex;
  flex-direction: row;
  .img, .formWrapper {
    height: 100%;
    width: 50%;
  }
  .img {
    background-image: url('../images/winston.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .formWrapper {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .form {
      border: 1px solid #e74f6e;
      height: auto;
      width: 80%;
      padding: 3vh;
      // padding-bottom: 4vh;
      text-align: center;
      .title {
        font-family: 'Lobster', cursive;
        font-size: 3.25vw;
        margin: 1.5vh 0;
        color: #e74f6e;
      }
      .who {
        .firstLast {
          display: flex;
          justify-content: center;
        }
        .name, .email {
          position: relative;
          font-family: 'Montserrat Alternates', sans-serif;
          font-size: 2.25vw;
          color: #e74f6e;
          margin: 2vh 0;
        }
        .name, .email {
          display: block;
          text-align: left;
          margin-left: 7%;
        }
        #email {
          width: 81.5%;
          margin: 0 1.5vw;
          padding: 2vh;
          border-radius: .5vw;
        }
        .user_input {
          width: 35%;
          margin: 0 1vw;
          padding: 2vh;
          border-radius: .5vw;
          border-style: none;
        }

      }
      .comments {
        position: relative;
        font-size: 2.25vw;
        .message {
          display: block;
          text-align: left;
          position: relative;
          font-family: 'Montserrat Alternates', sans-serif;
          font-size: 2.25vw;
          color: #e74f6e;
          margin: 2.5vh 0;
          margin-left: 7%;
        }
        .input_field {
          width: 81.5%;
          margin: 0 1.5vw;
          padding: 2vh;
          border-radius: .5vw;
        }
      }
      .btnField {
        .submit_btn {
          margin-top: 4vh;
          padding: 1% 2.25%;
          border-radius: 5vw;
          border-style: none;
          font-family: 'Lobster', cursive;
          font-size: 2.25vw;
          background: #e74f6e;
          color: #192738;
          &:hover {
            color: #e74f6e;
            background: #192738;
            border: 1px solid #e74f6e;
          }
        }
      }
    }
  }
}


/* Media-queries Section */
@media (max-width: 768px) {
  .container {
    height: 150vh;
    flex-direction: column;
    .img, .formWrapper {
      height: 50%;
      width: 100%;
    }
    .img {
      background-position: 25% 48%;
    }
    .formWrapper {
      .form {
        position: relative;
        top: 0vh;
        height: 57vh;
        .title {
          font-size: 2.25rem;
          margin: -1.5vh;
        }
        .who {
          .firstLast {
            justify-content: center;
            .user_input {
              margin: 0 2.5vw;
            }
          }
        }
        .comments {
          .input_field {
            height: 5vh;
          }
        }
        .btnField {
          .submit_btn {
            margin-top: 2vh;
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .container {
    height: 100vh;
    flex-direction: column;
    .img, .formWrapper {
      width: 100%;
    }
    .img {
      height: 40vh;
    }
    .formWrapper {
      height: 70vh;
      overflow: hidden;
      .form {
        border: none;
        width: 100%;
        padding: 0;
        top: 0vh;
        .who {
          .name, .email {
            font-size: 1rem;
          }
        }
        .comments {
          .message {
            font-size: 1rem;
          }
        }
        .btnField {
          .submit_btn {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
