@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat+Alternates&display=swap');

.container {
  background-image: url('../images/succit.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 8;
  left: 0%;
  position: relative;
  .logo {
    display: none;
  }
  .navigation {
    visibility: hidden;
  }
  .grabber {
    position: absolute;
    top: 15vh;
    left: 65vw;
    height: auto;
    width: 30%;
    // min-width: 40vh;
    // background: firebrick;
    .title {
      font-family: 'Lobster', cursive;
      font-size: 4vw;
      margin-bottom: 1.5vh;
      color: #192738;
      letter-spacing: 3px;
      // text-transform: uppercase;
    }
    .subtext {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 1.5vw;
      padding: .75vw;
      color: #192738;
    }
    .link {
      display: none;
      margin-top: 3vh;
      padding: 2% 4%;
      border-radius: 2vw;
      border-style: none;
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 2.25vw;
      background-color: #fff;
    }
  }
}


/* Media-queries Section */
@media (max-width: 768px) {
  .container {
    background-position: 75% 25%;
    .grabber {
      .title {
        font-size: 2.25rem;
      }
      .subtext {
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    position: relative;
    width: 100%;
    z-index: 1;
    background-position: 75% 25%;
    .logo {
      display: inline-block;
      background-image: url('../images/Jo_logo_min.svg');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 1vh;
      right: 3vw;
      height: 12vh;
      width: 33vw;
      // align-self: center;
    }
    .navigation {
      // visibility: visible;
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: fixed;
      height: 10vh;
      width: 100%;
      top: 75%;
      background-color: #192738;
      opacity: .9;
      z-index: 9;
      .link {
        text-decoration: none;
        color: #fff;
        font-size: 1.25rem;
        font-family: 'Montserrat Alternates', sans-serif;
        margin: 0 3vw;
      }
    }
    .grabber {
      width: 50%;
      top: 24vh;
      left: 6vw;
      .title {
        font-size: 2rem;
      }
      .subtext {
        font-size: 1rem;
      }
      .link {
        border-radius: 2.75vw;
        font-size: .95rem;
      }
    }
  }
}
