@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat+Alternates&display=swap');

.container {
  background-image: url('../images/succit.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 8;
  left: 0%;
  position: relative;
  .grabber {
    position: absolute;
    top: 15vh;
    left: 65vw;
    height: auto;
    width: 30%;
    // min-width: 40vh;
    // background: firebrick;
    .title {
      font-family: 'Lobster', cursive;
      font-size: 4vw;
      margin-bottom: 1.5vh;
      color: #192738;
      letter-spacing: 3px;
      // text-transform: uppercase;
    }
    .subtext {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 1.5vw;
      padding: .75vw;
      color: #192738;
    }
    .link {
      display: none;
      margin-top: 3vh;
      padding: 2% 4%;
      border-radius: 2vw;
      border-style: none;
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 2.25vw;
      background-color: #fff;
    }
  }
}


/* Media-queries Section */
@media (max-width: 768px) {
  .container {
    background-position: 75% 25%;
    .grabber {
      .title {
        font-size: 2rem;
      }
      .subtext {
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .container {
    position: relative;
    width: 100%;
    z-index: 1;
    background-position: left;
    .grabber {
      width: 50%;
      left: 45vw;
      .title {
        font-size: 1.5rem;
        color: red;
      }
      .subtext {
        font-size: 1rem;
      }
      .link {
        border-radius: 2.75vw;
        font-size: .95rem;
      }
    }
  }
}
