/* BOTTOM CONTENT STYLES */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 80vh;
  width: 100%;
  background-color: cornflowerblue;
  border-bottom-left-radius: 80% 10%;
  border-bottom-right-radius: 80% 10%;

  .header {
    margin-top: -5vh;
    .title {
      margin-bottom: 1.5vh;
      font-size: 2.75vw;
    }
    .subtext {
      padding: 0 25vh;
      font-size: 1.5vw;
    }
  }
  .illustration {
    // display: none;
    position: absolute;
    // background: yellow;
    z-index: 9;
    width: 100%;
    top: 20vh;
    left: -8vh;
    .object {
      background-image: url('../images/pleasework.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 70vh;
      width: auto;
      margin-bottom: 5vh;
      // width: auto;
      position: relative;
    }
  }
}



/* Media-queries Section */

@media (max-width: 575.98px) {
  .container {
    .header {
      .title {
        font-size: 1.25rem;
      }
      .subtext {
        font-size: 1rem;
        padding: 0 4vw;
      }
    }
    .illustration {
      top: 53vh;
    }
  }
}
