.container {
  background: aquamarine;
  height: 100%;
  width: 75%;
  z-index: 9;
  left: 0%;
  position: relative;
  .grabber {
    position: absolute;
    top: 15vh;
    left: 40vw;
    height: auto;
    width: 40%;
    // min-width: 40vh;
    background: firebrick;
    .title {
      font-size: 3.25vw;
      margin-bottom: 3vh;
      text-transform: uppercase;
    }
    .subtext {
      font-size: 1.5vw;
    }
    .link {
      margin-top: 3vh;
      padding: 2% 4%;
      border-radius: 2vw;
      border-style: none;
      font-size: 2.25vw;
    }
  }
}


/* Media-queries Section */

@media (max-width: 575.98px) {
  .container {
    position: relative;
    width: 100%;
    z-index: 1;
    .grabber {
      width: 50%;
      left: 45vw;
      .title {
        font-size: 1.5rem;
      }
      .subtext {
        font-size: 1rem;
      }
      .link {
        border-radius: 2.75vw;
        font-size: .95rem;
      }
    }
  }
}
